name: Build PHP

permissions:
  contents: write
  pull-requests: write

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:
    inputs:
      php_version:
        description: PHP version to build
        required: false
        default: '8.4'

env:
  SPC_VERSION: 2.7.1
  DEFAULT_PHP_VERSION: '8.4'

jobs:
  build:
    name: ${{ inputs.php_version || '8.5' }} ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: ["macos-13", "macos-latest", "windows-latest", "ubuntu-latest", "ubuntu-24.04-arm"]

    continue-on-error: true

    steps:
      - uses: actions/checkout@v4

      - name: Set SPC binary name
        shell: bash
        run: echo "SPC_BINARY=spc" >> $GITHUB_ENV

      - name: Set SPC URL for macos-13
        shell: bash
        if: matrix.os == 'macos-13'
        run: echo "SPC_URL=https://github.com/crazywhalecc/static-php-cli/releases/download/${{ env.SPC_VERSION }}/spc-macos-x86_64.tar.gz" >> $GITHUB_ENV

      - name: Set SPC URL for macos-latest
        shell: bash
        if: matrix.os == 'macos-latest'
        run: echo "SPC_URL=https://github.com/crazywhalecc/static-php-cli/releases/download/${{ env.SPC_VERSION }}/spc-macos-aarch64.tar.gz" >> $GITHUB_ENV

      - name: Set SPC URL for ubuntu-latest
        shell: bash
        if: matrix.os == 'ubuntu-latest'
        run: echo "SPC_URL=https://github.com/crazywhalecc/static-php-cli/releases/download/${{ env.SPC_VERSION }}/spc-linux-x86_64.tar.gz" >> $GITHUB_ENV

      - name: Set SPC URL for ubuntu-24.04-arm
        shell: bash
        if: matrix.os == 'ubuntu-24.04-arm'
        run: echo "SPC_URL=https://github.com/crazywhalecc/static-php-cli/releases/download/${{ env.SPC_VERSION }}/spc-linux-aarch64.tar.gz" >> $GITHUB_ENV

      - name: Set SPC URL for windows-latest
        shell: bash
        if: matrix.os == 'windows-latest'
        run: | 
          echo "SPC_URL=https://github.com/crazywhalecc/static-php-cli/releases/download/${{ env.SPC_VERSION }}/spc-windows-x64.exe" >> $GITHUB_ENV
          echo "SPC_BINARY=spc.exe" >> $GITHUB_ENV

      - name: Download SPC
        shell: bash
        run: |
          cd ..
          if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
            curl -fsSL -o ${SPC_BINARY} ${SPC_URL}
          else
            curl -fsSL -o ${SPC_BINARY}.tar.gz ${SPC_URL}
            tar -xzf ${SPC_BINARY}.tar.gz
          fi
          chmod +x ${SPC_BINARY}
          [ ! -d static-php-cli/bin ] && mkdir -p static-php-cli/bin
          mv ${SPC_BINARY} static-php-cli/bin/

      - name: Create php-bin directory
        shell: bash
        run: |
          cd ..
          [ ! -d php-bin ] && mkdir -p php-bin
          cd php-bin

      - shell: bash
        run: |
          PHP_VERSION="${{ inputs.php_version || env.DEFAULT_PHP_VERSION }}"
          PHP_VERSION=$(echo "$PHP_VERSION" | cut -d. -f1,2)
          echo "PHP_VERSION=$PHP_VERSION" >> $GITHUB_ENV

      - shell: bash
        run: echo "SPC_BUILD_ARCH=x64" >> $GITHUB_ENV

      - shell: bash
        if: matrix.os == 'macos-latest' || matrix.os == 'ubuntu-24.04-arm'
        run: echo "SPC_BUILD_ARCH=arm64" >> $GITHUB_ENV

      - shell: bash
        if: contains(matrix.os, 'macos')
        run: |
          brew install automake gzip
          echo "SPC_BUILD_OS=mac" >> $GITHUB_ENV

      - shell: bash
        if: matrix.os == 'windows-latest'
        run: echo "SPC_BUILD_OS=win" >> $GITHUB_ENV

      - shell: bash
        if: matrix.os == 'ubuntu-latest' || matrix.os == 'ubuntu-24.04-arm'
        run: echo "SPC_BUILD_OS=linux" >> $GITHUB_ENV

      - name: Setup system PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          tools: pecl, composer
          extensions: curl, openssl, mbstring, sodium, tokenizer, filter
          ini-values: memory_limit=-1

      - name: SPC doctor
        run: |
          cd ../static-php-cli
          ./bin/${{ env.SPC_BINARY }} doctor
          cd ../php-bin

      - name: Read PHP extensions from file
        id: read-extensions
        shell: bash
        run: |
          EXTENSIONS=$(php -r "echo trim(file_get_contents('${GITHUB_WORKSPACE}/php-extensions.txt'));" )
          EXT_HASH=$(php -r "echo md5('${EXTENSIONS}');")
          echo "PHP_EXTENSIONS=$EXTENSIONS" >> $GITHUB_ENV
          echo "PHP_EXT_HASH=$EXT_HASH" >> $GITHUB_ENV

      - name: Read PHP libraries from file
        id: read-libs
        shell: bash
        run: |
          LIBRARIES=$(php -r "echo trim(file_get_contents('${GITHUB_WORKSPACE}/php-libraries.txt'));" )
          LIBRARIES_HASH=$(php -r "echo md5('${LIBRARIES}');")
          echo "PHP_LIBS=$LIBRARIES" >> $GITHUB_ENV

      - id: cache-spc-downloads
        uses: actions/cache@v4
        with:
          path: ../static-php-cli/downloads
          key: spc-downloads-${{ env.PHP_EXT_HASH }}

      - name: Download PHP extension sources
        if: steps.cache-spc-downloads.outputs.cache-hit != 'true'
        run: |
          cd ../static-php-cli
          ./bin/${{ env.SPC_BINARY }} download --with-php=${{ env.PHP_VERSION }} --for-extensions "${{ env.PHP_EXTENSIONS }}" --prefer-pre-built
          cd ../php-bin

      - name: Build PHP
        run: |
          cd ../static-php-cli
          ./bin/${{ env.SPC_BINARY }} build --build-cli "${{ env.PHP_EXTENSIONS }}" --with-libs="${{ env.PHP_LIBS }}" --debug
          cd ../php-bin

      - name: Copy PHP binary into repo
        shell: bash
        run: |
          if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
            cp ../static-php-cli/buildroot/bin/php.exe "${GITHUB_WORKSPACE}/bin/php-windows.exe"
          elif [[ "${{ matrix.os }}" == "macos-13" ]]; then
            cp ../static-php-cli/buildroot/bin/php "${GITHUB_WORKSPACE}/bin/php-macos-x86_64"
            chmod +x "${GITHUB_WORKSPACE}/bin/php-macos-x86_64"
          elif [[ "${{ matrix.os }}" == "macos-latest" ]]; then
            cp ../static-php-cli/buildroot/bin/php "${GITHUB_WORKSPACE}/bin/php-macos"
            chmod +x "${GITHUB_WORKSPACE}/bin/php-macos"
          elif [[ "${{ matrix.os }}" == "ubuntu-24.04-arm" ]]; then
            cp ../static-php-cli/buildroot/bin/php "${GITHUB_WORKSPACE}/bin/php-linux-arm64"
            chmod +x "${GITHUB_WORKSPACE}/bin/php-linux-arm64"
          else
            cp ../static-php-cli/buildroot/bin/php "${GITHUB_WORKSPACE}/bin/php-linux"
            chmod +x "${GITHUB_WORKSPACE}/bin/php-linux"
          fi

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          branch: update-php-${{ env.PHP_VERSION }}-${{ env.SPC_BUILD_OS }}-${{ env.SPC_BUILD_ARCH }}
          title: "Update PHP ${{ env.PHP_VERSION }} build for ${{ env.SPC_BUILD_OS }} ${{ env.SPC_BUILD_ARCH }}"
          commit-message: "build"
          body: |
            PHP: ${{ env.PHP_VERSION }}
            Exts: ${{ env.PHP_EXTENSIONS }}
            OS: ${{ env.SPC_BUILD_OS }}
            Arch: ${{ env.SPC_BUILD_ARCH }}
          base: main
